const { GatewayIntentBits } = require("discord.js");

/* config */
const config = {
  logLevel: 'info', // debug, info, warn, error
  VAEvents: {
    'auth-signup': '### CHANNEL ID ###',
    'discord': '### CHANNEL ID ###',
  },
  OnConnectNotice: true,
  discordBotEnabled: false,
  onAirPollingEnabled: false,
  discord_token: '### ADD YOUR DISCORD BOT TOKEN HERE ###',
  discord_clientId: '### ADD YOUR DISCORD BOT CLIENT ID HERE ###',
  discord_guildId: '### ADD YOUR DISCORD GUILD ID HERE ###',
  deployCommands: true,
  OnConnectNotice: false,
  
  intents: [
    GatewayIntentBits.Guilds,
    GatewayIntentBits.GuildMessages,
    GatewayIntentBits.GuildMembers,
    GatewayIntentBits.DirectMessages,
  ],

  redis: {
    host: 'localhost',
    port: 6379,
    password: '',
  },
  onAir: {
    companyId: '### ONAIR COMPANY ID ###',
    vAId: '### ONAIR VA ID ###',
    apiKey: '### ONAIR API KEY ###',
  }
};

module.exports = config;
