const { GatewayIntentBits } = require("discord.js");


/* config */
const config = {
  logLevel: 'debug', // logging level one of; debug, info, warn, error

  // VAEvents is not fully functioning and has reliability issues, enable at your own risk
  VAEvents: {
    enabled: false, // if set to true, bot will subscribe to VA Events
    channels: {
      'auth-signup': '###_ADD_DISCORD_CHANNEL ID_HERE_###', // The channel to send auth signup event messages to
      'auth-signin': '###_ADD_DISCORD_CHANNEL ID_HERE_###', // The channel to send auth signin event messages to
      'discord': '###_ADD_DISCORD_CHANNEL ID_HERE_###', // The channel to send discord event messages to
      'OnConnectNoticeChannel': '###_ADD_DISCORD_CHANNEL ID_HERE_###', // The channel to send OnConnectNotice event messages to
      'onair-notifications': '###_ADD_DISCORD_CHANNEL ID_HERE_###', // The channel to send onair VA notification messages to
    },
    poll: {
      VADetails: {
        enabled: true, // if set to true, bot will routinely poll OnAir for the current VA details
        cron: '*/15 * * * *', // will run cron task every 15 minutes
      },
      VAJobs: {
        enabled: false, // if set to true, bot will routinely poll OnAir for the latest VA Jobs status
        cron: '*/5 * * * *',  // will run cron task every 5 minutes
      },
      VAFleet: {
        enabled: false, // if set to true, bot will routinely poll OnAir for the current VA fleet status
        cron: '* */5 * * *',  // will run cron task every 5 minutes
      },
      VANotifications: {
        enabled: true, // if set to true, bot will routinely poll OnAir for the current VA Notifications
        cron: '*/2 * * * *',  // will run cron task every 2 minutes
      },
    },
    refreshOnStartup: false, // if set to true, bot will run all enabled refresh tasks on startup
  },
  OnConnectNotice: true, // if set to true, bot will send a message to the channel specified in the 'OnConnectNoticeChannel' setting when it connects to Discord
  OnConnectNoticeAutoDelete: true, // if set to true, bot will automatically delete the OnConnectNotice message after ${onConnectNoticeAutoDeleteAfter} milliseconds
  onConnectNoticeAutoDeleteAfter: 10000, // time in milliseconds to wait before deleting the OnConnectNotice message
  discord_token: '##_ADD_DISCORD_TOKEN_HERE_##', // obtain from https://discord.com/developers/applications
  discord_clientId: '##_ADD_DISCORD_CLIENT_ID_HERE_##', // obtain from https://discord.com/developers/applications
  discord_guildId: '##_ADD_DISCORD_GUILD_ID_HERE_##', // obtain from https://discord.com/developers/applications
  deployCommands: true, // if set to true, bot will auto deploy slash commands at startup to Discord
  intents: [
    GatewayIntentBits.Guilds,
  ],
  // VAEvents uses Redis to store messages, if you're not using VAEvents and don't have Redis installed, leave this set to false
  redis: false,
  onAir: {
    companyId: '##_ADD_ONAIR_COMPANY_ID_HERE_##',
    vAId: '##_ADD_ONAIR_VA_ID_HERE_##',
    apiKey: '##_ADD_ONAIR_API_KEY_HERE_##',
  }
};

module.exports = config;
