const { GatewayIntentBits } = require("discord.js");

/* config */
const config = {
  logLevel: 'info', // debug, info, warn, error
  VAEvents: {
    'auth-signup': '### CHANNEL ID ###',
    'discord': '### CHANNEL ID ###',
  },
  OnConnectNotice: true,
  discordBotEnabled: false,
  onAirPollingEnabled: false,
  discord_token: '### ADD YOUR DISCORD BOT TOKEN HERE ###',
  discord_clientId: '### ADD YOUR DISCORD BOT CLIENT ID HERE ###',
  discord_guildId: '### ADD YOUR DISCORD GUILD ID HERE ###',
  deployCommands: true,
  OnConnectNotice: false,
  // Bot Admins, level 9 by default. Array of user ID strings.
  "admins": [
    '### USER ID ###'
  ],

  // Bot Support, level 8 by default. Array of user ID strings
  "support": [
    '### USER ID ###'
  ],

  /*
  * Intents the bot needs.
  * By default GuideBot needs Guilds, Guild Messages and Direct Messages to work.
  * For join messages to work you need Guild Members, which is privileged and requires extra setup.
  * For more info about intents see the README.
  */
  intents: [
    GatewayIntentBits.Guilds,
    GatewayIntentBits.GuildMessages,
    GatewayIntentBits.GuildMembers,
    GatewayIntentBits.DirectMessages,
   ],
  // Partials your bot may need should go here, CHANNEL is required for DM's
  partials: ["CHANNEL"],

  "defaultSettings" : {
    "prefix": "/",
    "systemNotice": "true", // This gives a notice when a user tries to run a command that they do not have permission to use.
    "commandReply": "true", // Toggle this if you want the bot to ping the command executor or not.
  },
};

module.exports = config;
